:javascript
  $( document ).ready(function() {
    $('.datepicker').datepicker({format: 'dd/mm/yyyy'});
  });
.row
= simple_form_for @team do |f|
  .panel.panel-default
    .panel-heading
      %h3.panel-title.text-center Team
    .panel-body.text-center
      .form-inline
        .form-group
          = f.association :users, as: :select,
                            value_method: :id, label_method: :email,
                            multiple: true, input_html: { class: 'chosen-select',
                            max_selected_options: 1 }
          = f.association :users, as: :select,
                            value_method: :id, label_method: :email,
                            multiple: true, input_html: { class: 'chosen-select',
                            max_selected_options: 1 }
      .form-inline
        .form-group
          = f.label :date
          = f.date_field :date, :title => "date", :id => "datepicker", :placeholder => 'dd/mm/yyyy', :class => "form-control-datepicker"
        .form-group
          = f.input :truck, class: 'form-control-datepicker'

  .panel.panel-default
    .panel-heading
      %h3.panel-title.text-center Claims
    .panel-body
      #claims
        = f.fields_for :claims, Claim.new do | form_builder |
          = render 'claim_fields', :f => form_builder
      - new_claim = Claim.new
      - fields = f.fields_for(:claims, new_claim,
        :child_index => "id_placeholder") do |fb|
        = render("claim_fields", :f => fb)
      - js = escape_javascript(fields)
      - fn = html_escape("addClaim($('#claims'), \"#{js}\")")
      - concat(raw("<a href=\"#\" class=\"btn btn-primary\" onclick=\"#{fn}\"><span class=\"glyphicon glyphicon-plus\"></span></a>"))
  %br
  %p.text-center
    = f.button :submit
