%p#notice
  = notice
.col-sm-3
.col-sm-5

  %p
    %strong Date:
    = @team.date_format
  %p
    %strong Truck:
    = @team.truck
  %p
    %strong Client:
    = @team.claims.last.client
  - if @team.only_responsible?
    %td= @team.first_responsible.email
    %td
  - else
    %td
      = @team.first_responsible.email
    %td
      = @team.second_responsible.email


  = link_to 'Edit', edit_team_path(@team)
  = link_to 'Back', teams_path
