<div class="form-inline">
   <div class="form-group">
    <%= f.label :phone_type %>
    <%= f.select(:phone_type,
       ['Mobile', 'Work', 'Home'],
       {},
       {:class => 'form-control'}) %>
  </div>
  <div class="form-group">
    <%= f.label :number %>
    <%= f.text_field :number, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= link_to_remove_association('remove this', f,
      { wrapper_class: 'form-inline' }, :confirm => "Sure?") %>
  </div>
</div>
