.col-sm-3
.col-sm-5
  %h6.text-center
    .row
    = form_for @profile do |f|
      .form-group
        = f.label :first_name
        = f.text_field :first_name, class: 'form-control'
      .form-group
        = f.label :last_name
        = f.text_field :last_name, class: 'form-control'
      .form-group
        = f.label :date_of_birth
        = f.date_field :date_of_birth, class: 'form-control'
      .panel.panel-default
        .panel-heading
          %h3.panel-title Phones
        .panel-body
          #phones
            = f.fields_for :phones do | phone |
              = render "phone_fields", :f => phone
          %button_tag#but_tag_plus
            = link_to_add_association button_tag('', type: "button", class: "fas key"), f, :phones
      %button#butt{:name => "button", :type => "button"}
        = f.submit
