%div.row
= simple_form_for @claim do |f|
  = f.association :users, as: :select,
                  value_method: :id, label_method: :email,
                  multiple: true, input_html: { class: 'chosen-select' }
  = f.input :ticket

  = f.input :client

  = f.button :submit

  %i{:class => ("glyphicon glyphicon-lock")}
