<%= form_with(model: claim, local: true) do |form| %>
  <% if claim.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(claim.errors.count, "error") %> prohibited this claim from being saved:</h2>

      <ul>
      <% claim.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ticket %>
    <%= form.number_field :ticket, id: :claim_ticket %>
  </div>

  <div class="field">
    <%= form.label :client %>
    <%= form.text_field :client, id: :claim_client %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
