%p#notice= notice
%div.col-sm-3
%div.col-sm-5.control-group
  %div.container.col-sm-12
    %h2.text-center CLAIMS
    %table.table.table-striped
      %tbody.text-center
        %tr
          %th.col-sm-12{:class => ("glyphicon glyphicon-paperclip")} Ticket
          %th.col-sm-12{:class => ("glyphicon glyphicon-phone")} Client
          %th.col-sm-12{:class => ("glyphicon glyphicon-user")} Responsible
          %th.col-sm-12{:class => ("glyphicon glyphicon-user")} Responsible
          %th.col-sm-12{:class => ("glyphicon glyphicon-eye-open")} Show
          %th.col-sm-12{:class => ("glyphicon glyphicon-pencil")} Modify
          %th.col-sm-12{:class => ("glyphicon glyphicon-trash")} Destroy
      %tbody.text-center
        - @claims.each do |claim|
          %tr
            %td.col-sm-12= claim.ticket
            %td.col-sm-12= claim.client
            - if claim.only_one_responsible?
              %td.col-sm-12= claim.responsible_first.email
              %td.col-sm-12= " - "
            - else
              %td.col-sm-12= claim.responsible_first.email
              %td.col-sm-12= claim.responsible_second.email
