<p id="notice"><%= notice %></p>

<p>
  <strong>Ticket:</strong>
  <%= @claim.ticket %>
</p>

<p>
  <strong>Client:</strong>
  <%= @claim.client %>
</p>

<%= link_to 'Edit', edit_claim_path(@claim) %> |
<%= link_to 'Back', claims_path %>
