.container-fluid
  .row
    .col-sm-4
    .col-sm-4
      .authform
        = form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form'}) do |f|
          %h1.text-center Sign in
          = devise_error_messages!
          .form-group
            .text-center
              = f.label :email
            = f.email_field :email, :autofocus => true, class: 'form-control'
          .form-group
            .text-center
              = f.label :password
            = f.password_field :password, class: 'form-control'
            - if devise_mapping.recoverable?
              = link_to "Forgot password?", new_password_path(resource_name)
          .center.text-center
            = f.submit 'Sign in'
